In [1]:
!pip install pandas

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# import pandas library using alias pd
import pandas as pd
from SPARQLWrapper import SPARQLWrapper, JSON
import numpy as np

## 1) Data Preparation

#### 1.1 Get List of subclasses and the number of instance for each of them

In [3]:
# Initialize SPARQL endpoint
dbpedia_sparql = SPARQLWrapper("https://dbpedia.org/sparql")

# Define the SPARQL query
dbpedia_sparql.setQuery("""
   SELECT ?subclass (COUNT(DISTINCT ?instance) AS ?count)
   WHERE {
     ?instance a ?subclass.
     ?subclass rdfs:subClassOf dbo:Person.
     FILTER (?subclass != dbo:Person)
   }
   GROUP BY ?subclass
   ORDER BY ASC(?count)
""")

# Set return format to JSON
dbpedia_sparql.setReturnFormat(JSON)

# Execute the query and process the results
results = dbpedia_sparql.query().convert()

subclasses = {}
for result in results["results"]["bindings"]:
    subclass_uri = result["subclass"]["value"]
    count = result["count"]["value"]
    subclass = subclass_uri.replace("http://dbpedia.org/ontology/", "")
    subclasses[subclass] = int(count)  # Convert count to integer

In [4]:
subclasses

{'Judge': 124,
 'Monarch': 245,
 'Spy': 261,
 'AmericanLeader': 264,
 'Pilot': 286,
 'HorseTrainer': 355,
 'PoliceOfficer': 413,
 'Presenter': 670,
 'BusinessPerson': 691,
 'Astronaut': 738,
 'Engineer': 885,
 'Chef': 897,
 'Youtuber': 900,
 'PlayboyPlaymate': 979,
 'Economist': 1720,
 'Journalist': 1858,
 'Model': 2045,
 'BeautyQueen': 2987,
 'Philosopher': 2987,
 'Religious': 4832,
 'Architect': 5574,
 'Criminal': 6081,
 'Noble': 7949,
 'Academic': 10663,
 'Coach': 10954,
 'Royalty': 22720,
 'Cleric': 25434,
 'SportsManager': 29156,
 'MilitaryPerson': 50255,
 'Writer': 51821,
 'Scientist': 52119,
 'OfficeHolder': 66597,
 'Artist': 107644,
 'Politician': 200848,
 'OrganisationMember': 456914,
 'Athlete': 578933}

In [5]:
subclasses.pop("Judge")

124

#### 1.2 Combine Collected Data into a Dataframe

In [6]:
import math

df = pd.read_csv('Judge.csv')

# load the data
for subclass, count in subclasses.items():
    try:
        if count < 10000:
            temporary_df = pd.read_csv(f'{subclass}.csv')
            df = pd.concat([df, temporary_df], ignore_index=True)
        else:
            for i in range(0, math.ceil(count / 10000) + 2):
                temporary_df = pd.read_csv(f'{subclass}/{subclass}iteration{i}.csv')
                df = pd.concat([df, temporary_df], ignore_index=True)
    except FileNotFoundError:
        print (f'{subclass}/{subclass}iteration{i}.csv NOT FOUND')
    
df.shape

Academic/Academiciteration1.csv NOT FOUND
Coach/Coachiteration2.csv NOT FOUND
Royalty/Royaltyiteration3.csv NOT FOUND
Cleric/Clericiteration3.csv NOT FOUND
SportsManager/SportsManageriteration3.csv NOT FOUND
MilitaryPerson/MilitaryPersoniteration6.csv NOT FOUND
Writer/Writeriteration6.csv NOT FOUND
Scientist/Scientistiteration7.csv NOT FOUND
OfficeHolder/OfficeHolderiteration7.csv NOT FOUND
Artist/Artistiteration12.csv NOT FOUND
Politician/Politicianiteration20.csv NOT FOUND
OrganisationMember/OrganisationMemberiteration0.csv NOT FOUND
Athlete/Athleteiteration1.csv NOT FOUND

(979648, 7)

In [7]:
# Check if all the subclasses are present in the dataframe to be preprocessed
df['subclass'].value_counts()

subclass
Athlete            250573
Politician         191191
Artist             120000
OfficeHolder        70000
Scientist           70000
Writer              60000
MilitaryPerson      56218
Cleric              30000
SportsManager       29192
Royalty             27736
Coach               10958
Academic            10000
Noble               10000
Philosopher          8875
Criminal             7076
Architect            5590
Religious            4868
BeautyQueen          2992
Economist            2738
Model                2048
Journalist           1865
PlayboyPlaymate       979
Youtuber              901
Chef                  899
Engineer              891
Astronaut             742
BusinessPerson        691
Presenter             671
PoliceOfficer         413
HorseTrainer          358
Pilot                 286
AmericanLeader        265
Spy                   261
Monarch               247
Judge                 124
Name: count, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979648 entries, 0 to 979647
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   subclass          979648 non-null  object
 1   instance          979648 non-null  object
 2   wikiDataID        948740 non-null  object
 3   gender            926522 non-null  object
 4   age               979648 non-null  int64
 5   birthYear         250573 non-null  float64
 6   publication_year  957813 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 52.3+ MB

From above, it can be seen that the wikiDataID, , gender, birthYear and publication_year column has some null values.

#### 1.3 Removing Duplicated Rows

In [9]:
duplicated_rows = df[df.duplicated(subset=['instance', 'wikiDataID'], keep=False)].sort_values(by=['instance'])
duplicated_rows

,subclass,instance,wikiDataID,gender,age,birthYear,publication_year
537892,Politician,100th_Delaware_General_Assembly,Q4546229,NaN,0,NaN,2009.0
347886,OfficeHolder,100th_Delaware_General_Assembly,Q4546229,NaN,0,NaN,2009.0
537893,Politician,101st_Delaware_General_Assembly,Q4546348,NaN,0,NaN,2009.0
347888,OfficeHolder,101st_Delaware_General_Assembly,Q4546348,NaN,0,NaN,2009.0
537894,Politician,102nd_Delaware_General_Assembly,Q4546419,NaN,0,NaN,2009.0
...,...,...,...,...,...,...,...
728981,Politician,Ōyama_Iwao,Q359819,male,74,NaN,2003.0
217876,MilitaryPerson,Živko_Budimir,Q2478723,male,62,NaN,2011.0
729044,Politician,Živko_Budimir,Q2478723,male,62,NaN,2011.0
729047,Politician,Živojin_Mišić,Q1138038,male,66,NaN,2003.0
217879,MilitaryPerson,Živojin_Mišić,Q1138038,male,66,NaN,2003.0

We can see above that there are 134,353 rows that have duplicated instance and wikiDataID, sicne we only need one rows of these duplicated rows, we wil kepp only the first rows of such.

In [10]:
df1 = df.drop_duplicates(subset=['instance', 'wikiDataID'], keep='first')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 911850 entries, 0 to 979647
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   subclass          911850 non-null  object
 1   instance          911850 non-null  object
 2   wikiDataID        880999 non-null  object
 3   gender            859866 non-null  object
 4   age               911850 non-null  int64
 5   birthYear         245539 non-null  float64
 6   publication_year  890068 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 55.7+ MB

In [11]:
df1.duplicated().sum()

np.int64(0)

After dropping all the duplicates, we can infer that there are 979648 - 911850 = 67,798 rows that have duplicated insatnce and wikiDataID and have been removed.

In [12]:
df1['wikiDataID'].duplicated().sum()

np.int64(148921)

However, the WikiDataID columns still shows some duplication which should not happpened sicne we have deleted all the duplicates and since wikiDataID is unique. Thus, I think this happened for some error when collecting the data through the API's where two or more same instance might have been represented by mutiple wikiDataID but only on of them is correct

In [13]:
duplicated_wikidata = df1[df1.duplicated(subset=['subclass', 'instance'], keep=False)].sort_values(by=['instance'])
duplicated_wikidata

,subclass,instance,wikiDataID,gender,age,birthYear,publication_year
41338,Criminal,"2016_St._Cloud,_Minnesota_knife_attack",Q42915632,NaN,-8,NaN,2016.0
41337,Criminal,"2016_St._Cloud,_Minnesota_knife_attack",Q26933993,NaN,-8,NaN,2016.0
349407,OfficeHolder,A._K._Fazlul_Huq,Q3242246,male,89,NaN,2005.0
349408,OfficeHolder,A._K._Fazlul_Huq,Q9258264,NaN,89,NaN,2005.0
217955,Writer,A._L._Kennedy,Q278872,female,59,NaN,2004.0
...,...,...,...,...,...,...,...
728657,Politician,Éric_Dupond-Moretti,Q93228978,male,63,NaN,2017.0
728831,Politician,Ömer_Çelik,Q91468051,male,56,NaN,2013.0
728830,Politician,Ömer_Çelik,Q297516,male,56,NaN,2013.0
102404,Royalty,Şehzade_Kasım,Q21523791,male,0,NaN,2022.0
102403,Royalty,Şehzade_Kasım,Q11929686,male,0,NaN,2022.0

After some initial observation, it is found that my intuation is correct, for example the instance Ömer_Çelik have two wikiDataID but only one is correct which is Q297516. Meanwhile, the wikiDataID = Q91468051 associated with him deos not exists. I plan to run a sparql query in wikidata to get the actual wikidataId for each of these instances and replace them in the df

In [14]:
instances_with_multiple_ids = duplicated_wikidata.groupby(['subclass', 'instance'])['wikiDataID'].unique()
instances_with_multiple_ids

subclass  instance
Academic  Alan_Martin_Boase                               [Q18917167, Q19258718]
          Albert_Elsen                                    [Q59628885, Q19753752]
          Andre_Franke                                   [Q67470670, Q114345084]
          Andrew_Lambert                                   [Q4757681, Q60103671]
          Autumn_Stanley       [Q95682724, Q95680876, Q95637638, Q95336311, Q...
                                                     ...
Writer    Max_Müller                                         [Q60074, Q55068911]
          Mbongeni_Ngema                                   [Q10327912, Q6799750]
          Mel_Odom_(author)                                 [Q4331780, Q6810802]
          Melinda_Metz         [Q22107416, Q238361, Q23780935, Q2375655, Q237...
Youtuber  TimTheTatman                                   [Q61789029, Q111584802]
Name: wikiDataID, Length: 2625, dtype: object

In [15]:
df2 = df1[~df1.duplicated(subset=['subclass', 'instance'], keep='first')].sort_values(by=['instance'])
df2

,subclass,instance,wikiDataID,gender,age,birthYear,publication_year
417884,Artist,!PAUS3,Q3466056,male,43,NaN,2011.0
417885,Artist,$pacely,Q73507574,male,32,NaN,2018.0
38134,Criminal,%22Baby_Lollipops%22_murder,Q64875934,NaN,63,NaN,2023.0
417886,Artist,%22Bassy%22_Bob_Brockmann,Q13416958,male,62,NaN,2013.0
537884,Politician,%22Big%22_Donnie_MacLeod,Q18645783,male,75,NaN,2014.0
...,...,...,...,...,...,...,...
102470,Royalty,Ḫarapšili,Q742087,female,0,NaN,2012.0
102471,Royalty,Ḫattušili_III,Q297588,male,0,NaN,2004.0
26705,Religious,Ṭhānissaro_Bhikkhu,Q7710407,male,75,NaN,2006.0
102472,Royalty,Ỷ_Lan,Q10843033,female,0,NaN,2010.0
102473,Royalty,‘Ulayya_bint_al-Mahdī,NaN,NaN,0,NaN,2019.0

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 791004 entries, 417884 to 102473
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   subclass          791004 non-null  object
 1   instance          791004 non-null  object
 2   wikiDataID        760153 non-null  object
 3   gender            743194 non-null  object
 4   age               791004 non-null  int64
 5   birthYear         242387 non-null  float64
 6   publication_year  769224 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 48.3+ MB

Actual df = 911850, duplicated wikiDataID = 123471, unique wikidataid from the duplicated = 2625; Cleaned df = 911850 - 123471 + 2625 = **791004** which is consistent with the information above.

In [17]:
!pip install rdflib
!pip install SPARQLWrapper

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Requirement already satisfied: rdflib in /opt/conda/lib/python3.11/site-packages (7.0.0)
Requirement already satisfied: isodate<0.7.0,>=0.6.0 in /opt/conda/lib/python3.11/site-packages (from rdflib) (0.6.1)
Requirement already satisfied: pyparsing<4,>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from rdflib) (3.1.2)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from isodate<0.7.0,>=0.6.0->rdflib) (1.16.0)
WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Requirement already satisfied: SPARQLWrapper in /opt/conda/lib/python3.11/site-packages (2.0.0)
Requirement already satisfied: rdflib>=6.1.1 in /opt/conda/lib/python3.11/site-packages (from SPARQLWrapper) (7.0.0)
Requirement already satisfied: isodate<0.7.0,>=0.6.0 in /opt/conda/lib/python3.11/site-packages (from rdflib>=6.1.1->SPARQLWrapper) (0.6.1)
Requirement already satisfied: pyparsing<4,>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from rdflib>=6.1.1->SPARQLWrapper) (3.1.2)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from isodate<0.7.0,>=0.6.0->rdflib>=6.1.1->SPARQLWrapper) (1.16.0)

In [24]:
from SPARQLWrapper import SPARQLWrapper, JSON
import time

# Initialize the SPARQL wrapper
dbpedia_sparql = SPARQLWrapper('https://dbpedia.org/sparql')

def get_instance_from_dbpedia(wikidata_id):
    # Define the query to get the DBpedia resource URI
    query = f"""
    PREFIX owl: <http://www.w3.org/2002/07/owl#>
    PREFIX wd: <http://www.wikidata.org/entity/>

    SELECT ?instance WHERE {{
      ?instance owl:sameAs wd:{wikidata_id}.
    }}
    """
    
    dbpedia_sparql.setQuery(query)
    dbpedia_sparql.setReturnFormat(JSON)
    
    while True:
        try:
            # Execute the query and fetch results
            results = dbpedia_sparql.query().convert()
                
            if results["results"]["bindings"]:
                instance = results["results"]["bindings"][0]["instance"]["value"]
                return instance.replace("http://dbpedia.org/resource/", "")
            else:
                return None
        
        except Exception as e:
            print(f"Error: {e}. Retrying after 2 seconds...")
            time.sleep(2)

def get_correct_wikidata_ids(instances_with_multiple_ids):
    mapping = {}
    for (subclass, instance), ids in instances_with_multiple_ids.items():
        for wikidata_id in ids:
            name = get_instance_from_dbpedia(wikidata_id)
            if instance == name:
                mapping[(subclass, instance)] = wikidata_id
                break
    return mapping

# Example usage:
# Assuming `instances_with_multiple_ids` is defined somewhere
# wikidata_mapping = get_correct_wikidata_ids(instances_with_multiple_ids)

In [ ]:
wikidata_mapping = get_correct_wikidata_ids(instances_with_multiple_ids)

Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: HTTP Error 503: Service Temporarily Unavailable. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...
Error: Remote end closed connection without response. Retrying after 2 seconds...

In [ ]:
# Define function to get the correct wikiDataID from the mapping
def get_correct_wikidata_id(row, mapping):
    key = (row['subclass'], row['instance'])
    return mapping.get(key, row['wikiDataID'])  # Fallback to the original wikiDataID if no mapping is found

# Update df2 with the correct wikiDataID
df2['correct_wikiDataID'] = df2.apply(lambda row: get_correct_wikidata_id(row, wikidata_mapping), axis=1)

# Drop the old wikiDataID column and rename new column
df2 = df2.drop(columns='wikiDataID')
df2 = df2.rename(columns={'correct_wikiDataID': 'wikiDataID'})

print("Updated df2 with Correct WikiDataID:")
print(df2)

In [59]:
#### Initial combined dataset (without prerpocessing/cleaning)
# df1.to_csv(f"tryfinal.csv", index=False)

## 2) Handling Missing Data

<strong> Identify the Number of Missing Values </strong>

In [60]:
df1.isna().sum()

subclass                 0
instance                 0
wikiDataID           30851
gender               51984
age                      0
birthYear           666311
publication_year     21782
dtype: int64

#### 2.1 Missing Data: Gender Column

In [61]:
# summarization of Culmen length (mm) before imputation
df1["gender"].describe()

count     859866
unique        53
top         male
freq      708944
Name: gender, dtype: object

In [62]:
gender_distribution_count = df1["gender"].value_counts()
gender_distribution_count

gender
male                                                                          708944
female                                                                        150202
trans woman                                                                      346
non-binary                                                                       158
trans man                                                                         54
male organism                                                                     30
genderfluid                                                                       17
eunuch                                                                            16
intersex woman                                                                    15
intersex man                                                                      10
transgender                                                                        7
genderqueer                                                                        7
intersex                                                                           6
two-spirit                                                                         5
transmasculine                                                                     4
agender                                                                            4
female organism                                                                    4
cisgender woman                                                                    2
http://www.wikidata.org/.well-known/genid/ed55392f46b48a8d4e291ef9180e510e         1
http://www.wikidata.org/.well-known/genid/ae33a05c57f8e7ff5d41b023e32b26c1         1
cisgender man                                                                      1
http://www.wikidata.org/.well-known/genid/e288f64435fcd74a0889d64ba9b4dc1d         1
faʻafafine                                                                         1
http://www.wikidata.org/.well-known/genid/9c0b5bebce2d1bff63aa0763b1fa19db         1
http://www.wikidata.org/.well-known/genid/3dfdf04289b25e8387ff90360c1dd060         1
http://www.wikidata.org/.well-known/genid/ebbbd6599c004380043ea866fa33bab6         1
bigender                                                                           1
http://www.wikidata.org/.well-known/genid/abb37c6d8954c035e73eca8056d58b38         1
http://www.wikidata.org/.well-known/genid/c81a0c81e2ff8efef355d9a5064e4bdc         1
http://www.wikidata.org/.well-known/genid/ed31a0d505571ff0c8615201fa02616f         1
http://www.wikidata.org/.well-known/genid/dcd4088849cc1d204d645b67b3008c7a         1
http://www.wikidata.org/.well-known/genid/874bf8334c4aab0d6cfd74a4932f5098         1
http://www.wikidata.org/.well-known/genid/0ed16e7846e740868d3e5737ad936112         1
http://www.wikidata.org/.well-known/genid/d27735d84edf04c8d57d567a4d20c85e         1
undisclosed gender                                                                 1
http://www.wikidata.org/.well-known/genid/9f8243585ab30773bfe29ba80268e985         1
http://www.wikidata.org/.well-known/genid/9d3887ab4b162fd91759804f70454f73         1
http://www.wikidata.org/.well-known/genid/ec27199998276ba57f7e22b3a24d39bf         1
http://www.wikidata.org/.well-known/genid/1bc67f47860f3afd835d8d218683587e         1
http://www.wikidata.org/.well-known/genid/ab5d4aedd9ba034e73160849ee80afed         1
http://www.wikidata.org/.well-known/genid/393a5bdab2ad4c66773c0a21f70419c0         1
http://www.wikidata.org/.well-known/genid/4c6b1394f262a4df9db43434980688a2         1
http://www.wikidata.org/.well-known/genid/fff7757c92d3ed448966f80f6f0acaaf         1
http://www.wikidata.org/.well-known/genid/c456c9c8f2aadd0bd06995d9ada0e62a         1
http://www.wikidata.org/.well-known/genid/7ef2d131e7c47832a556029bb0923d58         1
http://www.wikidata.org/.well-known/genid/a74c7cebeef6b8b0f8db0348aeac2066         1
http://www.wikidata.org/.well-known/genid/049933859592216ef357052e54bfdeb3         1
http://www.wikidata.org/.well-known/genid/508662fab59938313a4eba0de5f03e17         1
http://www.wikidata.org/.well-known/genid/edf1b1d1846916eb2c9aaec5da866e29         1
http://www.wikidata.org/.well-known/genid/d33b6fa8eb65aeffdf0b5bfa826edebd         1
http://www.wikidata.org/.well-known/genid/e3af423ca25239afdec4fdeefa52f34d         1
androgynos                                                                         1
travesti                                                                           1
Name: count, dtype: int64

There are 53 unique values for the gender column, with male being the majority gender for the instances. There are also 53,078 instances that are not assigned to a gender which we need to handle later. There are also some unwanted values that can be seem to be starting with a common link which is "http://www.wikidata.org/.well-known/genid". We will start by replacing those values (associated to 29 rows) with null before deciding what to do with the null values

In [63]:
# Replace NaN values with an empty string temporarily
s1 = df1['gender'].fillna('')

# Create a boolean mask for unwanted gender values
unwanted_gender_mask = s1.str.contains('http://www.wikidata.org/.well-known/genid', regex=False)

# Count the unwanted gender values
unwanted_gender_count = unwanted_gender_mask.sum()

# Replace unwanted gender values with NaN
df1.loc[unwanted_gender_mask, 'gender'] = np.nan

# Output the count of unwanted gender values
unwanted_gender_count

29

In [64]:
gender_distribution_count = df1["gender"].value_counts()
gender_distribution_count

gender
male                  708944
female                150202
trans woman              346
non-binary               158
trans man                 54
male organism             30
genderfluid               17
eunuch                    16
intersex woman            15
intersex man              10
genderqueer                7
transgender                7
intersex                   6
two-spirit                 5
female organism            4
transmasculine             4
agender                    4
cisgender woman            2
undisclosed gender         1
cisgender man              1
faʻafafine                 1
bigender                   1
androgynos                 1
travesti                   1
Name: count, dtype: int64

In [65]:
# summarization of Culmen length (mm) before imputation
df1["gender"].describe()

count     859837
unique        24
top         male
freq      708944
Name: gender, dtype: object

In [66]:
df1['gender'].isna().sum()

52013

#### 2.2 Missing Data: Age Column

There age column should not have any missing values. However, we will check if the age values make sense.

In [67]:
df1['age'].describe()

count    911850.000000
mean         36.417588
std          93.864980
min       -3395.000000
25%           0.000000
50%          46.000000
75%          72.000000
max        4431.000000
Name: age, dtype: float64

We can see that the minimum value for age is -3395 which is not possible in the real world. Thus, we will inspect further and get all rows with age less than and equal to 0.

In [68]:
df1.loc[df1['age'] <= 0, 'age']

5         0
6         0
7         0
8         0
9         0
         ..
968299    0
971260    0
972301   -5
974442   -8
975091    0
Name: age, Length: 276088, dtype: int64

There are 276,088 rows with age <= 0. We could try using the wikidata api to retrieve the value for age since we have only used dbpedia to retrieve the age before. To do that, we still need the wikiDataID of the instances. Thus, we will make sure that majority of the instances with age<=0 does have wikiDataID as some of them might have null values.

In [69]:
df1.loc[((df1['age'] <= 0) & (df1['wikiDataID'].isna()))]

,subclass,instance,wikiDataID,gender,age,birthYear,publication_year
70,Judge,Virendra_Singh_(Lokayukta),NaN,NaN,0,NaN,2021.0
71,Judge,Karen_Fort_Hood__US-judge-stub__1,NaN,NaN,0,NaN,NaN
72,Judge,Kelly_Thompson_(judge)__US-judge-stub__1,NaN,NaN,0,NaN,NaN
73,Judge,Jonathan_Remington__US-judge-stub__1,NaN,NaN,0,NaN,NaN
74,Judge,Joseph_W._Nega__US-judge-stub__1,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...
726644,Politician,Stoffel_Botha__Jan_Christoffel_Greyling_Botha__1,NaN,NaN,0,NaN,NaN
726985,Politician,Sudhanwa_Debbarma__Sudhanwa_Debbarma__1,NaN,NaN,0,NaN,NaN
727118,Politician,Sugata_Bose__Sugata_Bose__1,NaN,NaN,0,NaN,NaN
727236,Politician,Sulaiman_Shah__ab_al_Din_Sulaiman_shah_شهاب_ال...,NaN,NaN,0,NaN,NaN
858315,Athlete,Joe_Royal_(baseball)__Joe_Royal__1,NaN,NaN,0,1912.0,NaN

In [70]:
df1.loc[((df1['age'] <= 0) & (df1['wikiDataID'].notna()))]

,subclass,instance,wikiDataID,gender,age,birthYear,publication_year
5,Judge,"Beaumont_Hotham,_2nd_Baron_Hotham",Q18526620,male,0,NaN,2015.0
6,Judge,Benjamin_Lynde_Sr.,Q4888987,male,0,NaN,2012.0
7,Judge,Eldena_Bear_Don't_Walk,Q57292677,female,0,NaN,2018.0
8,Judge,Eleanor_Nisperos,Q66828308,female,0,NaN,2019.0
9,Judge,Elijah_Miller,Q5360957,male,0,NaN,2007.0
...,...,...,...,...,...,...,...
968299,Athlete,Walter_Andrews_(cyclist),Q4531875,male,0,1881.0,2013.0
971260,Athlete,Wibs_Kautz,Q1528032,male,0,1915.0,2014.0
972301,Athlete,William_Addison_(chess_player),Q559497,male,-5,1933.0,2012.0
974442,Athlete,Willye_White,Q439674,female,-8,1939.0,2006.0
975091,Athlete,Yoyo_Díaz,Q8059424,male,0,1905.0,2024.0

In [142]:
df1.loc[df1['wikiDataID'].notna()]['wikiDataID'].describe()

count         944690
unique        762928
top       Q113501042
freq             133
Name: wikiDataID, dtype: object